.madeInVectopus {
    
    .vectopusLogo {
        @apply mx-auto w-36 block mb-8;
    }

    h3 {
        @apply text-center font-medium mb-5;
        font-size: 2.5rem;
    }

    p {
        @apply mb-8 max-w-4xl mx-auto text-center;
        font-size: 1.35rem;
        color: #717171;
    }

    a {
        @apply text-lg mb-5 text-center block;
    }

    .teamMembersContainer {
        @apply flex justify-center mb-8;

        img {
            @apply -ml-6 w-20
        }
    }
}