.categoryBtn {
    @apply whitespace-nowrap inline-block rounded-full text-xs py-3 px-5 cursor-pointer;
    background-color: #F2F2F2;
    color: #6C6C6C;
}

.moreCategoriesBtn  {
    @apply whitespace-nowrap font-semibold;
    color: rgba(0, 0, 0, 0.3);
}